name: CLA

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  cla:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'pull_request_target') ||
      (github.event_name == 'issue_comment' && github.event.comment.body == 'recheck')
    steps:
      - uses: contributor-assistant/github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-document: 'https://github.com/${{ github.repository }}/blob/main/.github/CLA.md'
          path-to-signatures: 'signatures/cla.json'
          branch: 'main'
          custom-notsigned-prcomment: >-
            Thank you for your contribution! Before we can merge this PR,
            we need you to sign our [Contributor License Agreement](${{ github.event.repository.html_url }}/blob/main/.github/CLA.md).
            Please reply with **I have read the CLA Document and I hereby sign the CLA** to agree.
          custom-pr-sign-comment: 'I have read the CLA Document and I hereby sign the CLA'
          lock-pullrequest-aftermerge: false
