name: PR Labeler

on:
  pull_request_target:
    branches: [master]

permissions:
  contents: read
  pull-requests: write

jobs:
  auto-label:
    name: Auto Label PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
